<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Weather App</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="main">
      <fieldset>
        <form action="/" method="post">     <!-- Post request to the "/" route -->
          <input name="city" type="text" class="input" placeholder="Enter a City" required>
          <input type="submit" class="button" value="Get Weather">
        </form>
      </fieldset>
    </div>
  </body>
</html>
